<h2>
  event-binding 
</h2>

<button (click)="meuClick()" type="button" class="btn btn-primary">Click aqui</button>
<input (keyup)="digitou($event)">

<br>
<input #valorInput (keyup)= "digitouVarTemplate(valorInput.value)">

<br>
<input type="password" #qtdSenha (keyup)="validaSenha(qtdSenha.value)"> 
<button [disabled]="!habilitarBotao" class="btn" [ngClass]="{'btn-success': habilitarBotao , 'btn-warning':!habilitarBotao}" (click)=gravarSenha(qtdSenha.value)
  >Gravar senha</button>

<br>
<input type="text" #conteudo (keyup.enter)="adicionarLista(conteudo.value);
  conteudo.value=''">
<ul>
  <li *ngFor="let item of listaItens;let i=index">
     {{i+1}}  -  <button class="btn btn-danger btn-sm" (click)="removerLista(i)">Remover</button>
    {{item}}   
  </li>
</ul>


<br>
<input type="text" #data (blur)="verIdade(data.value)">
<p>{{(data.value=="")?' ':idade+" anos de idade"}}</p>
